.burger-menu {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.menu-icon {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-icon div {
  width: 100%;
  height: 4px;
  background-color: #0077b6; /* Medium Blue */
  transition: all 0.3s ease;
}

.menu-icon.open .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-icon.open .bar2 {
  opacity: 0;
}

.menu-icon.open .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.menu-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #1e1e1e;
  border-right: 1px solid #ccc;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 999;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.menu-content.open {
  transform: translateX(0);
}

.menu-content button {
  display: block;
  width: 100%;
  padding: 10px;
  background: linear-gradient(135deg, #0077b6, #8a2be2); /* Gradient from medium blue to light purple */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.menu-content button:hover {
  background: linear-gradient(135deg, #005f99, #7a1fa2); /* Darker gradient */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}